<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion" show-menu>
                <li>
                    <a ui-sref-active="active" href ui-sref="app.dashboard">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li ng-show="me.user_type == 1">
                    <a ui-sref-active="active" href ui-sref="app.user">
                        <i class="fa fa-users"></i>
                        <span>Users</span>
                    </a>
                </li>
            </ul>            
        </div>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->