<div class="row">
    <div class="col-md-4">
        <div class="mini-stat clearfix">
            <span class="mini-stat-icon orange"><i class="fa fa-user"></i></span>
            <div class="mini-stat-info">
                <span>{{dashboard.member}}</span>
                Total Member
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="mini-stat clearfix">
            <span class="mini-stat-icon pink"><i class="fa fa-money"></i></span>
            <div class="mini-stat-info">
                <span>{{dashboard.amount}}</span>
                Total Amount Paid
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="mini-stat clearfix">
            <span class="mini-stat-icon orange"><i class="fa fa-user"></i></span>
            <div class="mini-stat-info">
                <span>{{dashboard.active_member}}</span>
                Total Active Member
            </div>
        </div>
    </div>
</div>